@font-face {
  font-family: "didact";
  src: url(../fonts/Didact_Gothic/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: "fjalla";
  src: url(../fonts/Fjalla_One/FjallaOne-Regular.ttf);
}
@font-face {
  font-family: "work";
  src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  size: 1440px;
  margin: 0 auto;
  margin: 1rem 0 2rem 0;
  background: chocolate;}

h1, h2 {
  text-transform: uppercase;
}
header p{
  font-family: 'work';
  text-align: center;
  font-size: 1.25rem;
}


section:nth-of-type(1){
  text-align: center;
  width: 700px;
  margin: 0 auto;
}
section:nth-of-type(1) h1{
  font-family: 'didact';
  font-size: 6.25rem;
  font-weight: normal;
  margin: 0.6em auto;
}
section:nth-of-type(1) img{
  width: 80%;
}
section:nth-of-type(1) h2{
  font-size: 9em;
  font-family: 'work';
  font-weight: 400;
  margin: .8em 0;
}


footer{
  height: 165vh;
  text-align: center;
}
footer nav{
  margin: 10em 0;
}
footer nav a{
  text-transform: unset;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 150px;
  color: #000;
  margin-bottom: .8em;
  display: block;
}
footer i{
  animation: myAnim 2s ease-in 0s infinite normal forwards;
}
@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}