/* Schriften einbetten */
@font-face {
  font-family: "didact";
  src: url(../fonts/Didact_Gothic/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: "fjalla";
  src: url(../fonts/Fjalla_One/FjallaOne-Regular.ttf);
}
@font-face {
  font-family: "work";
  src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf);
}

/* allgemeiner Formatierungen */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0 auto;
  margin: 1rem auto 2rem auto;
  background: #fff;
}
h1, h2, h3 {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
/* allgemeiner Formatierungen ENDE */

header{
  text-align: center;
  width: 700px;
  margin: 0 auto;
}
header p{
  font-family: 'work';
  text-align: center;
  font-size: 1.25rem;
}
header h1{
  font-family: 'didact';
  font-size: 6.25rem;
  font-weight: normal;
  margin: 0.6em auto;
}
section:nth-of-type(1){
  text-align: center;
  width: 700px;
  margin: 0 auto;
}
section:nth-of-type(1) img{
  width: 80%;
}
section:nth-of-type(1) h2{
  font-family: 'work';
  font-size: 10rem;
  font-weight: 400;
  margin: .8em 0;
}

section:not(:first-child){
  height: 100vh;
  position: relative;
  padding: 5em 5em 10em 11em;
}

/* Alle SECTIONs außer der ersten (WORK) und der letzten (MORE) */
section:not(:first-child):not(:last-child) p{
  font-family: 'work';
  font-size: 1.25rem;
  color: #666;
  margin-bottom: 2em;
}
section:not(:first-child):not(:last-child) p:nth-of-type(2){
  margin-bottom: 4.5em;
}
section:not(:first-child):not(:last-child) h2{
  font-family: 'didact';
  font-size: 7rem;
  font-weight: normal;
  margin-bottom: .4em;
}
section:not(:first-child):not(:last-child) a{
  font-family: 'fjalla';
  text-transform: uppercase;
  border: 1px solid;
  padding: .8em 1.8em;
  color: #000;
}
section:not(:first-child):not(:last-child) h3{
  font-family: 'fjalla';
  font-size: 10.313rem;
  font-weight: normal;
  color: #666;
  position: absolute;
  left: 80%;
}

/* Alle GERADEN sections außer der letzten (6. Section) */
section:nth-of-type(even):not(:last-child) p{
  color: #9e9e9e;
}
section:nth-of-type(even):not(:last-child) h2{
  color: #fff;
}
section:nth-of-type(even):not(:last-child) a{
  color: #fff;
}
section:nth-of-type(even):not(:last-child) h3{
  color: #9e9e9e;
  opacity: .2;
}
section:nth-of-type(even):not(:last-child) a:hover{
  background: #fff;
  color: #000;
  text-decoration: none;
}
section:nth-of-type(even):not(:last-child) a:hover + h3{
  opacity: 1;
  color: #fff;
}

/* Alle UNGERADEN sections außer der ersten (WORK) */
section:nth-of-type(odd):not(:first-child){
  height: 160vh;
}
section:nth-of-type(odd):not(:first-child) a:hover{
  background: #000;
  color: #fff;
  text-decoration: none;
}
section:nth-of-type(odd):not(:first-child) a:hover + h3{
  color: #333;
}

/* Bilder und Hintergründe */
section:nth-of-type(2){
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/portfolio2.jpg) no-repeat center/1440px;
}
section:nth-of-type(3){
  background: url(../img/portfolio3.png) no-repeat center/134%;
  padding: 16em 11em;
}
section:nth-of-type(4){
  background: url(../img/portfolio4.jpg) no-repeat center/cover
}
section:nth-of-type(5){
  background: url(../img/portfolio5.png) no-repeat center/125%;
  padding: 16em 11em;
}

/* MORE Section */
section:nth-of-type(6){
  background: #000;
  padding: 8em 5em;
  height: 130vh;
}
section:nth-of-type(6) h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 11.25rem;
  font-weight: 400;
  text-align: center;
  color: #fff;
  letter-spacing: -0.625rem;
  text-transform: unset;
}
section:nth-of-type(6) h2::first-letter{
  font-size: 14rem;
  font-weight: 300;
}
section:nth-of-type(6) p{
  font-family: 'Work';
  font-size: 1.313rem;
  line-height: 1.8;
  color: #666;
  position: absolute;
  top: 50%;
  left: 44%;
  right: 5%;
}
section:nth-of-type(6) a{
  font-family: 'work';
  font-size: 3.75rem;
  text-transform: unset;
  color: #fff;
  position: absolute;
  bottom: 13%;
  left: 44%;
}

/* FOOTER */
footer{
  height: 165vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
footer nav{
  margin: 10rem 0;
}
li {list-style: none;
padding: 3.5rem 0;
}
footer nav ul li  a{
  font-family: 'didact';
  font-size: 10rem;
  color: #000;
  margin-bottom: 9.375rem;
  padding-bottom: 20rem;
  text-transform: unset;
}

/* Animation */
footer i{
  animation: Animation 2s ease-in 0s infinite normal forwards;
}
@keyframes Animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}